<footer class="py-1 mt-auto" style="background-color: rgba(213, 214, 217, 0.94)">
<div class="container ml-auto">
    <span style="color:rgb(178, 178, 181); font-size: 0.8em">&copy;  2024. This work is openly licensed via CC BY-NC-ND.
    Contact Licensor: <a href="/" target="_blank"></a></span>
</div>
</footer>