<footer class="py-1 mt-auto" style="background-color: rgb(39, 55, 179, 0.94)">
<div class="container ml-auto"></div>">
<span style="color:rgb(178, 178, 181); font-size: 0.8em">&copy;2024. This work is openly licensed via CC BY-NC-ND.
Contact Licensor: <a href="https://www.linkedin.com/in/pascalverhoeven/" target="_blank"> LinkedIn</a></span>
</div>
<br>
</footer>