<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procurement plan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
   
    <link rel="stylesheet" href="/stylesheets/home.css">

</head>





<body class="d-flex text-center text-white bg-dark">
 
 
 
    <div class="container d-flex vh-100 w-85 p-3 mx-auto flex-column">


    <header class="header align-items-center">
    <p style="font-size: 4vw; color: rgb(247, 245, 242); margin-bottom:1vw">Managing Procurement Plans <br> for ADB Financed Projects</p>
   

    <p  style="font-size: 2vw; color: rgb(247, 245, 242)"> An Interactive Online Tool for Procurement Agencies and Suppliers/Bidders</p>
</header>
    
        <main class="mb-auto">
               
                <br> <br>
  
                
                <p style= "font-size: 1.5vw; color: rgb(247, 245, 242); margin-bottom:0">
                    Based on ADB's<br>
                    <a style= "font-size: 1.5vw;color: rgba(211, 227, 245, 0.4); margin-top:0"   href="https://www.adb.org/documents/procurement-planning" target="_blank">
                        Strategic Procurement Planning Guidance Note</a></p> 
    
                  <p style= "font-size: 1.5vw; color: rgb(247, 245, 242); margin-bottom:0">and</p> 
                        <p style= "font-size: 1.5vw; color: rgb(211, 227, 245, 0.4); margin-bottom:0">Procurement Plan Template (June 2021)</p> 
       
              
       
                    </main>
        
        <br> <br> <br>
        <p><a style="font-size: 1.5vw; color: rgb(247, 245, 242)"; class="button" href="/products">Existing Projects</a></p>
        <p> <a style="font-size: 1.5vw; color: rgb(247, 245, 242)"; class="button" href="/products/new">Add new Project</a></p>

        
        <footer class="mt-auto text-white">
            <p style="color:rgb(119, 119, 121); font-size: 1em">&copy; 2024</p>
        </footer>


</div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>