<% layout('layouts/boilerplate')%>

<div class="row">
    
<div class="col-6 offset-3">   
            <h1 class="text-center">Add a new Works Package for:</h1>
            <h2 class="text-center"> <%= product.name%></h2>

    <form action="/products/<%=product._id%>/works" method="POST" novalidate class = "validated-form">

    <div class="row">  
                
                <div class="mb-3 mt-3">
                        <label class="form-label" for="number">Package Number</label>
                        <input class="form-control" type="text" id="number" name="number" required>
                </div>
            
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="description">Package Description</label>
                        <input class="form-control" type="text" id="description" name="description" required>
                </div>
                
                    <div class="mb-3 mt-3">
                    <label class="form-label" for="value">Package Value (US$)</label>
                    <input class="form-control" type="number" step=".01" id="value" name="value" required>
                </div> 

                <div class="mb-3 mt-3">
                    <label class="form-label" for="method" class="form-label">Procurement Method</label>
                    <input class="form-control" list="methodlist" id="method" name="method" required>
                    <datalist id="methodlist">
                            <option value="OCB">
                            <option value="OCB limited">
                            <option value="RFQ">
                            <option value="RFQ limited">
                            <option value="Direct Contracting">
                            <option value="Other">
                    </datalist>
                </div>  
                
                <div class="mb-3 mt-3">
                    <label class="form-label" for="prequal" class="form-label">Pre-qualification step</label>
                    <input class="form-control" list="yesno" id="prequal" name="prequal">
                    <datalist id="yesno">
                        <option value="Yes">
                        <option value="No">
                        <option value="N/A">
                    </datalist>
                </div>  
        
    </div>

    <div class="row">  
               
        <div class="mb-3 mt-3">
                    <label class="form-label" for="sbd" class="form-label">Standard Bid Document</label>
                    <input class="form-control" list="sbdlist" id="sbd" name="sbd" required>
                    <datalist id="sbdlist">
                        <option value="SBD Works (1S1E) ADB, December 2021">
                        <option value="Harmonized OCB-SBD Works, 25 April 2022 (ADB)">
                        <option value="Harmonized Open Bidding Document Procurement of Works, PPMD (MOF), August 2021">
                        <option value="Sample Document RFQ Works (ADB)">
                        <option value="Harmonized Request for Quotation for the Procurement of Works, PPMD (MOF), August 2021 - English">
                        <option value="Standard Request for Proposal (ADB)">
                    </datalist>
        </div>  

        <div class="mb-3 mt-3">
                    <label class="form-label" for="review" class="form-label">ADB Review</label>
                    <input class="form-control" list="listReview" id="review" name="review" required>
                    <datalist id="listReview">
                        <option value="Prior">
                            <option value="Post (sample)">
                    </datalist>
        </div>  

               
        <div class="mb-3 mt-3">
                    <label class="form-label" for="procedure">Procedure</label>
                    <input class="form-control" type="text" id="procedure" name="procedure">
        </div>  
                
    </div>  

    <div class="row">  
              
        <div class="row">  

            <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="advertisingQ" class="form-label">Planned for Advertising (Q)</label>
                        <input class="form-control" list="qlist" id="advertisingQ" name="advertisingQ" required>
                        <datalist id="qlist">
                            <option value="Q1">
                                <option value="Q2">
                                    <option value="Q3">
                                        <option value="Q4">
                        </datalist>
                    </div> 
            </div> 
        
            <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="advertisingY" class="form-label">Planned for Advertising (Y)</label>
                        <input class="form-control" list="ylist" id="advertisingY" name="advertisingY" required>
                        <datalist id="ylist">
                            <option value="2024">
                                <option value="2025">
                                    <option value="2026">
                                        <option value="2027">
                                            <option value="2028">
                                                <option value="2029">
                                                    <option value="2030">
                        </datalist>
                    </div>  
            </div> 
        
        </div> 

        <div class="row">  

                <div class="col-sm-6">
                <div class="mb-3 mt-3">
                    <label class="form-label" for="approach" class="form-label">Approach (market)</label>
                    <input class="form-control" list="listApproach" id="approach" name="approach" required>
                    <datalist id="listApproach">
                        <option value="National">
                            <option value="International">
                    </datalist>
                </div>  
                </div>    
                
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="domesticPreference" class="form-label">Domestic Preference</label>
                        <input class="form-control" list="listdomesticPreference" id="domesticPreference" name="domesticPreference">
                        <datalist id="listdomesticPreference">
                            <option value="Yes">
                                <option value="No">
                                    <option value="N/A">
                        </datalist>
                    </div>  
                    </div>

        </div> 
    </div> 
    
    <div class="row">  
        <div class="mb-3 mt-3">
            <label class="form-label" for="lots">Nr of Lots in this package</label>
            <input class="form-control" type="number" id="lots" name="lots" required>
        </div> 


    </div> 



    <button class="btn btn-primary">Add Package</button>

   

    </form>
<br>
</div>
</div>